/* unvisited link */
a.watched-title-link {
  color: black;
  text-decoration: underline;
  font-weight: 600;
}

/* visited link */
a.watched-title-link:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a.watched-title-link:hover {
  color: black;
}

a.watched-title-link:active {
  color: black;
  text-decoration: none;
}

h2.medialist--header {
  font-family: Poppins;
  font-size: 1.7rem;
}

.medialist--list {
  list-style: none;
  overflow-y: scroll;
  max-height: 470px;
  margin-top: 2rem;
}
