.main--nav{
    background-color:rgb(101, 100, 100);
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row: 1;
    min-height: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .main--header {
    font-family: Poppins;
    display: flex;
    font-size: 2rem;
    grid-column-start: 1;
    align-self: center;
    justify-content: center;
    width: 100%;
  }
  
  .main--smallText{
    font-size: 1.1rem;
    margin-top: 20px;
    margin-left: 10px;
  }