.seen-logo-span {
  background-color: rgb(126, 125, 125);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  align-self: center;
  justify-items: center;
  padding-right: 5px;
  padding-left: 5px;
  color: rgb(241, 241, 241);
}
button {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

/* .main--nav {
  background-color: rgb(101, 100, 100);
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row: 1;
  min-height: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main--header {
  font-family: Poppins;
  display: flex;
  font-size: 2rem;
  grid-column-start: 1;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.main--smallText {
  font-size: 1.1rem;
  margin-top: 20px;
  margin-left: 10px;
} */
