.main--wrapper{
  display: grid;  
  justify-content: center;
  padding: 20px;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 75% 15%;
  height: 100vh;
  min-width: 900px;
  background-color:darkgrey;
  box-sizing:border-box;
}

.main--nav{
  background-color:darkgrey;
  grid-column: 2;
}

.main--header {
  font-family: Poppins;
  display: flex;
  font-size: 2rem;
  grid-column: 2;
  align-self: center;
  justify-content: center;;
}

.medialist--container{
  display: grid;
  background-color: orange;
  grid-column: 1;
  grid-template-columns: auto 30% auto;
  /* justify-content: center;
  align-self: top;
  justify-self: center;
  align-items: top;
  
  
  padding-top: 5px;
  max-width: 205px; 
  min-width: 205px; 
 */
}

.medialist--header {
  font-size: 1rem;
  grid-column: 1;
  display: flex;
  /*background-color: teal;*/
  height: 15%;
  min-height: 10%;
  max-height: 20%;
  grid-column: 2  
}

.input--form--container{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.medialist--list{
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  grid-column: 2;
}