* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.search-bar-container {
  padding-top: 20vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  grid-column: 3;
  grid-row: 2;
  z-index: 0;
}

.main--wrapper {
  display: grid;
  justify-content: center;
  padding: 20px;
  grid-template-columns: 20% 10% 40% 10% 20%;
  grid-template-rows: 15% 70% 15%;
  height: 100vh;
  min-width: 900px;
  background-color: darkgrey;
  box-sizing: border-box;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
}

/* .title--form--input{
  text-align: center;
  margin-bottom: 5px;
}




.input--form--container{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-top: 50px;
  background-color: white;
  grid-column: 1;
  grid-row: 1;
  width: 200px;
  height: 60px;
  overflow: hidden;
} */
